body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(to bottom, #282828 ,#ccc,#ccc,#ccc, #282828);

  }

  .menu { background-color: #282828; }
.menu ul {
  margin: 0;
  padding: 0;
  font-size: 0;
  position: relative;
  z-index: 1;
  text-align: center;
}
.menu ul li {
  display: inline-block;
  vertical-align: top;
}
.menu ul li a {
  font-family: 'open_sansregular';
  font-weight: bold;
  text-decoration: none;
  font-size: 15px;
  color: #fff;
  display: block;
  line-height: 50px;
  padding: 0 35px;
  letter-spacing: 3px;
  position: relative;
}
.menu ul li a:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #f4aeab;
  color: #ccc;
  z-index: -1;
  transform: skewX(-35deg);
  opacity: 0;
  transition: opacity 0.3s;
}
.menu ul li:hover a,
.menu ul li:focus a,
.menu ul li.active a {
  color: #282828;
}
.menu ul li:hover a:after,
.menu ul li:focus a:after,
.menu ul li.active a:after {
  opacity: 1;
}
  article {
    
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: 20px;
    padding: 20px;
    max-width: auto;
    font-family: Arial, sans-serif;
    
    color: #333;
    
    background-color: #f4f4f4;
  }

  article h2 {
    margin-top: 0;
  }

  article p {
    line-height: 1.5;
  }

  footer {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
  }
  .container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
    gap: 50px;
  }

  .card img {
    width: 65%;
    height: auto;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
   
  
  }
  
  .card img:hover {
    transform: scale(1.1);
  }